@import "~bootstrap/dist/css/bootstrap.min.css";
#excuse {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: larger;
}
.mt-5 {
  color: rgb(4, 63, 102);
  text-align: center;
}
.fixed-bottom {
  text-align: center;
  text-decoration: underline;
}
